<section class='field'>
  <label>
    {{input type="checkbox" checked=category.custom_fields.petition_enabled}}
    {{i18n 'petition.category.label'}}
  </label>
</section>

<section class='field'>
  <label>
    {{input type="number" value=category.custom_fields.petition_vote_threshold}}
    {{i18n 'petition.category.vote_threshold'}}
  </label>
</section>
