.topic-title-voting .voting {
  margin: 0 20px;
  padding: 20px 0 15px;
}

.petition-controls {
  min-height: 70px;
  padding: 15px;

  .petition-staff-actions {
    clear: both;

    .invalid-resolution {
      label {
        color: $danger;
      }
    }
  }
}

.petition-status {
  display: inline-block;

  &.open {
    color: $tertiary;
  }

  &.limited {
    color: $highlight;
  }

  &.rejected {
    color: $danger;
  }

  &.accepted {
    color: $success;
  }
}

.petition-message {
  margin-bottom: 10px;
  padding: 0 5px;
  background-color: $highlight-low;
  display: inline-block;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  border: 1px solid $primary-low;
  border-radius: 4px;
}

.petition-info {
  font-size: 16px;

  > span {
    margin-right: 10px;
    position: relative;
  }

  label {
    display: inline-block;
    margin: 0;
  }

  .info {
    position: absolute;
    right: 6px;
    top: 16px;

    button {
      margin: 0;
    }
  }
}

.similar-petitions {
  width: 550px;
  margin-top: 20px;

  .similar-petition-links {
    border: 2px solid $tertiary;
    margin: 0;
    list-style: none;
    padding: 10px 20px;

    li {
      line-height: 40px;

      > * {
        display: inline-block;
      }

      a {
        margin-right: 10px;
        line-height: 30px;
      }
    }
  }
}

.resolution-message {
  display: block;
}

.resolution-link {
  display: inline-block;
}

.petition-info {
  display: inline-block;
}

.petition-popover {
  position: absolute;
  background-color: $secondary;
  z-index: 10;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border: 1px solid $primary-low;
  padding: 4px 12px;

  p {
    margin: 7px 0;
  }

  ul li {
    margin: 7px 0;
  }
}
